#componentTree {
    border: 1px solid black;
    width: 500px;
    height: 300px;
    border-radius: 5px;
}
#componentLibrary {
  border: 1px solid black;
  border-radius: 5px;
}
#componentDetails{
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 500px;
  position: absolute;
  right: 10px;
}